  
  form {
    width: 70%;
    margin: auto;
    padding: 2%;
    align-content: center;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type="email"]:valid,
  input[type="password"]:valid {
    border: 1px solid #3c763d;
    background-color: #dff0d8;
  }
  
  input[type="email"]:invalid,
  input[type="password"]:invalid {
    border: 1px solid #e3342f;
    background-color: #f9e7e9;
  }

  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #connect {
    background-color: rgb(206, 48, 250);
    color: #fff;
  }
  
  #connect:hover {
    background-color: #8200d9;
  }
  
  #annuler {
    background-color: #6c757d;
    color: #fff;
    margin-top: 5px;
  }
  
  #annuler:hover {
    background-color: #5a6268; 
  }
