  
form {
  width: 70%;
  margin: auto;
  padding: 2%;
  align-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="passwordConf"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid,
input[type="passwordConf"]:valid {
  border: 1px solid #3c763d;
  background-color: #dff0d8;
}

input[type="text"]:invalid,
input[type="email"]:invalid,
input[type="password"]:invalid,
input[type="passwordConf"]:invalid {
  border: 1px solid #e3342f;
  background-color: #f9e7e9;
}

p {
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: #6c757d;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

#creaCompte {
  background-color: rgb(206, 48, 250);
  color: #fff;
}

#creaCompte:hover {
  background-color: #8200d9;
}

#annuler {
  background-color: #6c757d;
  color: #fff;
  margin-top: 5px;
}

#annuler:hover {
  background-color: #5a6268;
}


#passwordStrength {
    font-size: 0.8em;
    margin-left: 10px;
}

#passwordStrength:after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    border-radius: 50%;
}

#passwordStrength[data-strength="Faible"]:after {
    background-color: red;
}

#passwordStrength[data-strength="Moyen"]:after {
    background-color: orange;
}

#passwordStrength[data-strength="Fort"]:after {
    background-color: green;
}

}